<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>Cards against users</title>
<style type="text/css">
body {
  font-family: monospace;
  font-size: 200%;
}
#center {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30pt;
  margin-left: -45%;
  height: 50pt;
  line-height: 150%;
  width: 90%;
  text-align: center;
}
.insert {
  text-decoration: underline;
}
</style>
</head>
<body>
<div id="center">
{{ phrase|safe }}
</div>
</body>
</html>
