<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Cards against users</title>
<style>
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }
}
body {
  font-family: monospace;
  font-size: 2em;
}
#center {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -4.5em;
  margin-left: -45%;
  height: 9em;
  line-height: 9em;
  width: 90%;
  text-align: center;
}
#text {
  line-height: 1.5em;
  display: inline-block;
  vertical-align: middle;
}
.insert {
  text-decoration: underline;
}
</style>
</head>
<body>
<div id="center">
<span id="text">
{%- if markup: -%}
{{ cards.get_phrase(html=True, left="<span class=\"insert\">", right="</span>")|safe }}
{%- else -%}
{{ cards.get_phrase(html=True)|safe }}
{%- endif -%}
</span>
</div>
</body>
</html>
